/* Adjust the overall body styling */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff; /* White background */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Change the font here */
}

/* Update the signup container for centering */
.signup-container {
  max-width: 450px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2, form, p, a {
  color: #333; /* Ensuring text is visible on a white background */
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], button {
  width: 100%; /* Ensuring inputs and button stretch to container width */
}

button:hover {
  background-color: #b08d14;
}

a:hover {
  text-decoration: underline;
}
